@model HomePageViewModel

<div class="album py-5 bg-light">
    <div class="container">
        <!-- Last Added Section -->
        <h2>Last Added Movie</h2>
        <div class="row">
            @foreach (var movie in Model.LastAddedMovies)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="@Url.Content(movie.ThumbnailUrl)" class="bd-placeholder-img card-img-top" alt="@movie.Title" width="100%" height="225">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                            <p class="card-text">
                                Genre: @movie.Genre <br/>
                                Duration: @movie.Duration mins <br/>
                                Director: @movie.Director <br/>
                                Release Date: @movie.ReleaseDate.ToShortDateString()
                            </p>

                            <h6>Available Showtimes</h6>
                            @if (movie.Showtimes != null && movie.Showtimes.Any())
                            {
                                <ul>
                                    @foreach (var showtime in movie.Showtimes)
                                    {
                                        <li>
                                            @showtime.StartTime.ToShortTimeString() on @showtime.StartTime.ToShortDateString() - @showtime.CinemaHall.Name (@showtime.CinemaHall.Location)
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>No showtimes available</p>
                            }
                            <a class="btn btn-primary" asp-action="Details" asp-controller="Movie" asp-route-id="@movie.Id">View Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Trending Section -->
        <h2>Trending Movie</h2>
        <div class="row">
            @foreach (var movie in Model.TrendingMovies)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="@Url.Content(movie.ThumbnailUrl)" class="bd-placeholder-img card-img-top" alt="@movie.Title" width="100%" height="225">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                            <p class="card-text">
                                Genre: @movie.Genre <br/>
                                Duration: @movie.Duration mins <br/>
                                Director: @movie.Director <br/>
                                Release Date: @movie.ReleaseDate.ToShortDateString()
                            </p>

                            <h6>Available Showtimes</h6>
                            @if (movie.Showtimes != null && movie.Showtimes.Any())
                            {
                                <ul>
                                    @foreach (var showtime in movie.Showtimes)
                                    {
                                        <li>
                                            @showtime.StartTime.ToShortTimeString() on @showtime.StartTime.ToShortDateString() - @showtime.CinemaHall.Name (@showtime.CinemaHall.Location)
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>No showtimes available</p>
                            }
                            <a class="btn btn-primary" asp-action="Details" asp-controller="Movie" asp-route-id="@movie.Id">View Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>